* {
  padding: 0px;
  margin: 0px;
  font-family: "DM Sans", sans-serif;
}
:root {
  --primary-color: #ffffff;
  /* --primary-color: #100054; */
  /* --text-color: #444aca; */
  --text-color: #000000;
  /* --text-color: #ffffff; */
  --secondary-color: #444aca;

  /* --secondary-color: #894a00; */


  --bg-color: #132F70;
  --front-color: rgb(248, 168, 21);
  --topics: rgb(14, 14, 173);
}
