* {
  padding: 0px;
  margin: 0px;
  font-family: "poppins", sans-serif;
}
:root {
  --text-color: #333;
  --secondary-color: #ffffff;
  --primary-color: #444aca;
  --bg-color: darkblue;
  --font-color: #ffffff;
  --brown: rgb(146, 143, 143);
}