/* Logo.module.css */
.logo_section {
    display: flex;
    align-items: center;
    justify-self: center;
    color: var(--text-color);
  }
  
  .logo_section_link {
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }
  
  .logo_section_text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    letter-spacing: 0.0625rem;
    justify-content: center;
  }
  
  .logo_section_text1 {
    font-size: 14px;
    color: var(--text-color);
  }
  
  .logo_section_text2 {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
  }
  
  .logo_section_text3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
  }
  
  @media (max-width: 768px) {
    .logo_section {
      display: flex;
      align-items: center;
      justify-self: center;
      flex-direction: column;
      gap: 1rem;
    }
  
    .logo_section_text {
      display: flex;
      flex-direction: column;
      gap: 3px;
      letter-spacing: 0.0625rem;
      text-align: center;
      justify-content: center;
    }
  
    .logo_section_text1 {
      font-size: 16px;
    }
  
    .logo_section_text2 {
      font-size: 16px;
    }
  
    .logo_section_text3 {
      font-size: 20px;
    }
  }