.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.imageContainer {
  flex: 0 0 auto;
  margin-bottom: 40px; /* Increased space between image container and text */
}

.image {
  display: block;
  border-radius: 5px;
}

.textBox {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer {
  text-align: left;
}

.heading {
  font-size: 24px;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .imageContainer {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.cardsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.card {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: #f9fafc; /* Updated card background color */
  color: #333333;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:last-child {
  margin-right: 0;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 24px; /* Increased icon size */
  margin-right: 12px; /* Increased margin for better spacing */
  color: var(--primary-color); /* Updated icon color */
  transition: transform 0.3s ease;
}

.card:hover .icon {
  transform: rotate(360deg); /* Adds a cool rotation effect on hover */
}

.cardContent {
  font-size: 14px;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .heading1 {
    margin-bottom: 10px;
  }

  .textBox {
    padding: 0 10px; /* Add padding to the text container */
  }

  .cardsContainer {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px; /* Equal margin on both sides */
    margin-right: -10px; /* Equal margin on both sides */
  }

  .card {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
